<!DOCTYPE html>
{% extends "base.html" %}

{% block head %} 
{% endblock %}


{% block body %} 
    <h1 style="text-align: center; display: flex; justify-content: center;"> Scrapper Wikileaks </h1>

    <div class="mainContainer" style="display: flex;flex-direction:column; justify-content: space-around;">
        <div class='articleContainer' style='display: flex; flex-direction: column;'>
            <div class="images" >
                <img class="articleImages"src="" alt="" style="height: 22.5rem; width: 15rem;">
            </div>
            <div class="title">
                <h4 class="articleTitre"> </h4>
            </div>
            <div class="content">
                <p class="snippet"> </p>
            </div>
            <div class="date" >
                <p class="articleDate"> </p>
            </div>
        </div>
    </div>
{% endblock %}