<!DOCTYPE html>
{% extends "base.html" %}

{% block head %} 
{{ super()}}
{% endblock %}

{% block body %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block content %}
{% for result in range len(results) %}
<div class="mainContainer">
    <div class='articleContainer'>
        <img class="articleImages" src="{{result[2]}}" alt="" >
        <h4 class="articleTitres"> {{result[1]}}</h4>
        <p class="snippets">{{ result[3]}}</p>
        <p class="articleDates"> {{result[4]}}</p>
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
{% endblock %}