<!DOCTYPE html>
{% extends "base.html" %}

{% block head %} 
{{ super()}}
{% endblock %}

{% block body %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block content %}
{% for i in range(0, len) %} 
    <div class="mainContainer">
        <div class='articleContainer'>
            <img class="articleImages" src=" {{ results[i][2] }} " alt="" >
            <h4 class="articleTitres"> {{ results[i][1] }} </h4>
            <p class="snippets"> {{ results[i][3]}} </p>
            <p class="articleDates"> {{ results[i][4] }} </p>
        </div>
    </div>
{% endfor %}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
{% endblock %}